/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
}

#countdown {
    color: rgb(173, 23, 23);
    /* Change the color as desired */
}

#message {
    color: rgb(147, 8, 175);
    /* Change the color as desired */
}