/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    
    font-size: 2em;

}

#countdown {
    color: rgb(14, 2, 2);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(150, 64, 231);
}

